<template>
  <div>
    <cards
      :arrayNewCards="arrayNewCards"
      @removeCard="removeCard($event)"
      @defaultCard="defaultCard($event)"
    ></cards>
    <addNewCard @addNewCard="addNewCard($event)"></addNewCard>

<!-- modal default -->
    <div
      v-if="modalDefault"
      class="modal"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <img src="../assets/img/Default card ico.svg" alt />
            <div class="modal-text">
              <p>Change default card</p>
              <div>This card will appear as a primary option for your payment. Are you sure you want to set this card as default?</div>
            </div>
            <div class="modal-buttons">
              <button type="button" class="btn btn-primary col-md-6" @click="acceptModalDefault()">Yes</button>
              <button
                type="button"
                class="btn btn-outline-primary col-md-6"
                data-dismiss="modal" @click="cancelModalDefault()"
              >Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>



<!-- modal remove -->

 <div
      class="modal"
      id="exampleModal1"
      tabindex="-1"

      v-if="modalRemove"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <img src="../assets/img/Remove payment ico.svg" alt />
            <div class="modal-text">
              <p>Remove card</p>
              <div>Are you sure you want to remove from wallet?</div>
            </div>
            <div class="modal-buttons">
              <button type="button" class="btn btn-primary col-md-6" @click="acceptModalRemove()">Yes</button>
              <button
                type="button"
                class="btn btn-outline-primary col-md-6"
                data-dismiss="modal" @click="cancelModalRemove()"
              >Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</template>

 <script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// import { State } from 'vuex-class';
import * as fromComponents from "../components";

@Component({
  components: {
    cards: fromComponents.CardsComponent,
    addNewCard: fromComponents.AddNewCardComponent
  }
})
export default class MyCardsComponent extends Vue {
  public newCards: object[] = [];
  updateNewCards = [];
  arrayNewCards = [];
  removeKey = "";
  modalDefault: boolean = false;
  modalRemove: boolean = false;

  defaultCardNumber: string = '';
  removeCardNumber: string = ';'

  mounted() {
    this.arrayNewCards = JSON.parse(localStorage.getItem("newCards"));
  }

  beforeCreate() {
    this.newCards = [
      {
        nameCard: "Lau",
        numberCard: "4012888888881881",
        expMonth: "06",
        expYear: "2024",
        securityCode: "1771",
        default: true,
        entidad: "Visa"
      }
    ];
    localStorage.setItem("newCards", JSON.stringify(this.newCards));
  }

  addNewCard(event: any) {
    // console.log(event)
    this.arrayNewCards.push(event);

    localStorage.setItem("newCardsDate", JSON.stringify(event));
    localStorage.setItem("newCards", JSON.stringify(this.arrayNewCards));
  }

  removeCard(event: any) {
    this.removeCardNumber = event;
    this.modalRemove = true;
    // console.log(event)
  }

  defaultCard(event: any) {
        this.defaultCardNumber = event;
    this.modalDefault = true;

  }

  cancelModalDefault() {
    this.modalDefault = false;
  }

  cancelModalRemove() {
    this.modalRemove = false;
  }

  acceptModalDefault() {
    this.modalDefault = false;
    let numberDefault = this.defaultCardNumber;

// console.log(this.defaultCardNumber)

    this.arrayNewCards.map(function(value, key, array) {
      if (value.numberCard == numberDefault) {
        array.splice(key, 1);
        array.splice(0, 0, value);
        return (value.default = true);
      }
      return (value.default = false);
    });
  }

  acceptModalRemove() {
    this.modalRemove = false;
    let numberRemove = this.removeCardNumber;
    this.arrayNewCards = this.arrayNewCards.filter(
      card => card.numberCard != numberRemove
    );
    localStorage.setItem("newCards", JSON.stringify(this.arrayNewCards));
  }

}
</script>

<style lang="scss">

.modal {
  display: block !important;
}

.modal-content {
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
  padding: 10px;
}

.modal-body {
    padding: 10px 30px;
    padding-top: 0px;
}

.close {
  text-align: left !important;
  font-size: 40px !important;
  font-weight: 400 !important;
}

.modal-text p{
    font-size: 18px;
    color: #43689e;
    font-weight: 500;
    margin-bottom: 5px;
}

.modal-text div {
    font-size: 14px;
    color: #aeb3b6;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 25px;
}

.modal-body img {
  width: 65px;
  margin-bottom: 15px;
}

.modal-buttons button {
    width: 46%;
    padding: 4px;
}

.modal-buttons button:first-child {
    background-color: #52d03e;
    border: 2px solid #52d03e;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.modal-buttons button:last-child {
    background-color: white;
    border: 2px solid #6a757e;
    border-radius: 10px;
    margin-left: 10px;
    color: #6a757e;
    font-weight: 600;
}
  
</style>
