<template>
  <div>
    <div class="card box-cards">
      <h6 class="card-header" @click="toggleAddForm()">+ Add New Card</h6>
      <div class="card-body" v-if="showAddForm">
        <div class="card accept-cards">
          <div class="icon-ok">
            <img src="../assets/img/Ok green ico.svg" alt />
          </div>
          <div class="box-text">
            <p>
              We Accept All Major
              <br />Debit/Credit Cards
            </p>
          </div>
          <div class="icon-card">
            <img src="../assets/img/Payment-methods.jpg" alt />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="nameCard">Name on Card</label>
            <input
              ref="nameCard"
              type="text"
              class="form-control focus"
              id="nameCard"
              v-model="nameCard"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="numberCard">Credit/Debit Card Number</label>
            <input type="number" @input="validateNumberCard($event)" class="form-control" id="numberCard" v-model="numberCard" />
          </div>
          <div class="form-group col-md-2">
            <label for="expMonth">Exp. Month</label>
            <select id="expMonth" class="form-control" v-model="expMonth">
              <option selected></option>
              <option value="06">06</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="expYear">Exp. Year</label>
            <select id="expYear" class="form-control" v-model="expYear">
              <option selected></option>
              <option value="2024">2024</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="securityCode">Security Code</label>
            <input type="text" class="form-control" id="securityCode" v-model="securityCode" />
          </div>
          <div class="icon-sectigo col-md-1">
            <img src="../assets/img/Sectigo trust logo.png" alt />
          </div>
          <div class="col-md-11">
            <button id="btnAdd" v-if="!validateNumber" class="btn btn-add-card" @click="addNewCard()" disabled>Add Card</button>
            <button id="btnAdd" v-if="validateNumber" class="btn btn-add-card" @click="addNewCard()">Add Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

 <script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class AddNewCardComponent extends Vue {
  public showAddForm: boolean = false;
  nameCard = "";
  numberCard = "";
  expMonth = "";
  expYear = "";
  securityCode = "";
  entidad = "";

  public validateNumber: boolean = false;

  regexAmerican = "^3[47][0-9]{13}$";
  regexMasterCard = "^5[1-5][0-9]{14}$";
  regexVisa = "^3[47][0-9]{13}$";
  regexDiscover = "^6(?:011|5[0-9]{2})[0-9]{12}$";

  newCard = {};

  toggleAddForm() {
    this.showAddForm = !this.showAddForm;
  }

  created() {
        
  }

  validateNumberCard($event) {
      if(event.target.value.match(this.regexAmerican) || event.target.value.match(this.regexMasterCard) || event.target.value.match(this.regexVisa) && event.target.value != '' ) {
          this.validateNumber = true;
      }
  }

  addNewCard() {
    if (this.numberCard.match(this.regexAmerican)) {
      this.entidad = "American Express";
    } else {
      if (this.numberCard.match(this.regexMasterCard)) {
        this.entidad = "Mastercard";
      } else {
        if (this.numberCard.match(this.regexVisa)) {
          this.entidad = "Visa";
        } else {
          if (this.numberCard.match(this.regexDiscover)) {
            this.entidad = "Discover";
          }
        }
      }
    }

    this.newCard = {
      nameCard: this.nameCard,
      numberCard: this.numberCard,
      expMonth: this.expMonth,
      expYear: this.expYear,
      securityCode: this.securityCode,
      default: false,
      entidad: this.entidad
    };
    this.showAddForm = false;
    this.nameCard = "";
  this.numberCard = "";
  this.expMonth = "";
  this.expYear = "";
  this.securityCode = "";
  this.entidad = "";
    this.$emit("addNewCard", this.newCard);
  }
}
</script>

<style lang="scss" scoped>
.box-cards {
  box-shadow: 0px -2px 6px 0px rgba(217, 217, 217, 1);
  width: 70%;
  margin-top: 10px !important;
  margin: 0 auto;
  margin-bottom: 25px !important;
}

.card-header {
  background-color: white;
  color: #43689e;
  cursor: pointer !important;
}

.accept-cards {
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.icon-ok img {
  width: 40px;
  margin-right: 5px;
}

.icon-card img {
  height: 48px;
  margin-left: 10px;
}

.box-text {
  font-size: 13px;
  color: #52d03e;
  font-weight: 700;
}

.form-row {
  font-size: 12px !important;
  font-weight: 500;
  color: #6a757e;
  margin-top: 25px;
}

.form-row select,
.form-row input {
  font-size: 12px !important;
}

.icon-sectigo img {
  width: 70px;
  margin-top: 3px;
}

.btn-add-card {
  background-color: #52d03e;
  border-radius: 10px;
  height: 32px;
  color: white;
  font-weight: 600;
  width: 97%;
  font-size: 13px;
}
</style>