<template>
  <div>
    <div class="card box-cards">
      <h6 class="card-header">My Cards</h6>
      <div class="card-body">
        <ul>
          <li v-for="(item,i) in arrayNewCards" :key="i">
            <div class="card item-card">
              <div class="icon-ok">
                <img v-if="!item.default" src="../assets/img/Ok grey ico.svg" alt />
                <img v-if="item.default" src="../assets/img/Ok green ico.svg" alt />
              </div>
              <div class="icon-card">
                <img v-if="item.entidad == 'Visa'" src="../assets/img/Visa.svg" alt />
                <!-- <img v-if="item.entidad == 'Discover'" src="../assets/img/Discover.svg" alt /> -->
                <img v-if="item.entidad == 'American Express'" src="../assets/img/American.svg" alt />
                <img v-if="item.entidad == 'Mastercard'" src="../assets/img/Mastercard.svg" alt />
              </div>
              <div class="box-text">
                <span
                  class="d-block"
                  style="margin-top: -4px; font-size:13px"
                >{{item.entidad}} {{item.numberCard}}</span>
                <span>Ex.Date {{item.expMonth}}/{{item.expYear}}</span>
              </div>
              <div class="box-opt">
                <span @click="removeCard(item.numberCard)">Remove</span>
                <span v-if="item.default">Default</span>
                <span v-if="!item.default" @click="defaultCard(item.numberCard)">Set as Default</span>
              </div>
            </div>
          </li>
        </ul>
      </div>


      
    </div>
  </div>
</template>

 <script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class CardsComponent extends Vue {
  @Prop() public arrayNewCards: any;

  removeCard(idCard: any) {
    this.$emit("removeCard", idCard);
  }

  defaultCard(idCard: any) {
    this.$emit("defaultCard", idCard);
  }
}
</script>

<style lang="scss" scoped>
.box-cards {
  box-shadow: 0px -2px 6px 0px rgba(217, 217, 217, 1);
  width: 70%;
  margin-top: 35px !important;
  margin: 0 auto;
}

.card-header {
  background-color: white;
  color: #43689e;
}

.card-body ul {
  list-style: none;
  padding-left: 0px;
}

.item-card {
  background-color: #f7f8fa;
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
}

.icon-ok img {
  width: 15px;
  margin-right: 25px;
}

.icon-card img {
  width: 45px;
  margin-right: 10px;
}

.box-text {
  font-size: 11px;
  color: #abadb4;
}

.box-opt {
  color: #abadb4;
  font-size: 13px;
  text-decoration: underline;
  position: absolute;
  right: 20px;
}

.box-opt span {
  margin-right: 15px;
  font-weight: 500;
}

.box-opt span:hover {
  color: #43689e;
  cursor: pointer;
}
</style>
