<template>
  <div id="all-container">
    <div id="intro">

    </div>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <router-link to="/my-applications" class="nav-item nav-link" id="app-tab" data-toggle="tab" href="#app-tab-content" role="tab" aria-controls="nav-home"><div class="tab-icon icon-app"></div><div class="tab-text">My Applications</div></router-link>
        <router-link to="/my-travelers" class="nav-item nav-link" id="travel-tab" data-toggle="tab" href="#travel-tab-content" role="tab" aria-controls="nav-profile"><div class="tab-icon icon-travel"></div><div class="tab-text">My Travelers</div></router-link>
        <router-link to="/my-cards" class="nav-item nav-link active" id="cards-tab" data-toggle="tab" href="#cards-tab-content" role="tab" aria-controls="nav-contact"><div class="tab-icon icon-cards"></div><div class="tab-text">My Cards</div></router-link>
        <router-link to="/my-accounts" class="nav-item nav-link" id="account-tab" data-toggle="tab" href="#account-tab-content" role="tab" aria-controls="nav-contact"><div class="tab-icon icon-account"></div><div class="tab-text">My Accounts</div></router-link>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      
        <router-view></router-view>
      

    </div>

  </div>
</template>

<style lang="scss" scoped>


@import '../node_modules/bootstrap/scss/bootstrap.scss';

  .tab-icon {
  // height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 12px;
    margin-right: 6px;
    margin-top: 3px;
  }

  .icon-app {
    background-image: url('assets/img/My applications ico.svg');
  }

  .icon-travel {
    background-image: url('assets/img/My travelers ico.svg');
  }

  .icon-cards {
    background-image: url('assets/img/My cards ico.svg');
  }

  .icon-account {
    background-image: url('assets/img/My Account ico.svg');
  }

  .tab-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: -18px;
  }


  #all-container {
    height: 100%;
  }

  #intro {
    background-image: url('assets/img/bg-intro.jpg');
    min-height: 230px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 135px;
    padding-bottom: 100px;
  }

  nav {
    margin-top: 40px;
  }

  #nav-tab {
    justify-content: center !important;
  }

  .nav-link {
    font-size: 14px;
    border-radius: 0 !important;
    border: 1px solid #49505740 !important;
    border-bottom: none !important;
    margin-left:10px !important;
    text-transform: uppercase;
    color: #2c3143;
    opacity: 0.4;
    font-weight: 700;
    padding: 6px 40px !important;
  }

  .nav-link.active {
    border: 1px solid #ededed !important;
    border-top: 2px solid #52d03e !important;
    border-bottom: none !important; 
    color: #2c3143;
    opacity: 1;
  }

</style>


